{
  "ScatterSomaticpipelineTumorNormalMode.normalSampleName": "Array[String]",
  "ScatterSomaticpipelineTumorNormalMode.inDirPCGRref": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFileGermlineResource": "File",
  "ScatterSomaticpipelineTumorNormalMode.refSa": "File",
  "ScatterSomaticpipelineTumorNormalMode.refDict": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFileTumorFastqs": "Array[Array[File]]",
  "ScatterSomaticpipelineTumorNormalMode.inFileGermlineResourceIndex": "File",
  "ScatterSomaticpipelineTumorNormalMode.tumorSampleName": "Array[String]",
  "ScatterSomaticpipelineTumorNormalMode.refAmb": "File",
  "ScatterSomaticpipelineTumorNormalMode.refPac": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFilePONindex": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFileNormalFastqs": "Array[Array[File]]",
  "ScatterSomaticpipelineTumorNormalMode.finalOutputName": "Array[String]",
  "ScatterSomaticpipelineTumorNormalMode.inFileDbsnpVcf": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFileIntervalBed": "File",
  "ScatterSomaticpipelineTumorNormalMode.refAnn": "File",
  "ScatterSomaticpipelineTumorNormalMode.refFa": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFilePON": "File",
  "ScatterSomaticpipelineTumorNormalMode.inFileDbsnpVcfIndex": "File",
  "ScatterSomaticpipelineTumorNormalMode.refBwt": "File",
  "ScatterSomaticpipelineTumorNormalMode.refFai": "File"
}

