{
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.tumorSampleName": "Array[String]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileTumorFastqs": "Array[Array[File]]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.normalSampleName": "Array[String]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileNormalFastqs": "Array[Array[File]]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.finalOutputName": "Array[String]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.ponName": "String",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.ponSampleName": "Array[String]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFilePoNfastqs": "Array[Array[File]]",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refFa": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refFai": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refDict": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refAmb": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refAnn": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refBwt": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refPac": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.refSa": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileDbsnpVcf": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileDbsnpVcfIndex": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileGermlineResource": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileGermlineResourceIndex": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inDirPCGRref": "File",
  "ScatterInProcessPoNSomaticpipelineTumorNormalMode.inFileIntervalBed": "File"
}